/*Desenvolvido com <3 na Codde*/

/* Geral */
body{font-family: 'Open Sans', sans-serif; overflow-x: hidden;}
a:hover, a:active{text-decoration: none;}

/*Header*/
header{position: fixed; top: 0; right: 0; left: 0; width: 100%; z-index: 100;}

/*Home*/

/*Slider*/
.bx-wrapper .bx-loading{min-height: 50px; background: url('../img/bx_loader.gif') center center no-repeat #fff; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000;}
